.price__section{
    box-sizing: border-box;
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.title{ 
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.wrapper {
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}
.text {
    flex-grow: 1;
}

.checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.amount{
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
.wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 0;
    }
}